@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #f1f1f1;
    color: #0f141e;
}

.container {
    max-width: 1024px;
    min-width: 640px;
    margin: auto;
}

h1 {
    color: rgb(165, 69, 69);
}

h2 {
    margin: 0;
    margin-left: 10px;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
}

.tableWork {
    border-collapse: collapse;
    width: 100%;
}

.tableWork tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tableWork tr:hover {
    background-color: #ddd;
}

.tableWork td,
.tableWork th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tableWork th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(202, 197, 197);
    color: rgb(165, 69, 69);
}

.tableWork td:nth-child(2),
.tableWork td:nth-child(3) {
    color: #656565;
    ;
}

.card {
    border-left: 6px solid red;
    background: lightsalmon;
    /* padding-left: -10px; */
    color: #fff;
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 5px; */
    margin-top: 10px;
}

.cardBig {
    /* border: 1px solid black; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* background: #fff; */
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-red {
    background: #ffe5e5;
}

.bg-green {
    background: #e5ffe7;
}

.avatar {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    max-width: 200px;
    border-radius: 10px;
}

.label,
.input {
    margin-top: 5px;
    display: block;
    width: 95%;
    padding: 5px 0 0;
    outline: none;
    font-family: inherit;
}

.col-1 {
    width: 50%;
    float: left;
}

.col-2 {
    width: 50%;
    float: left;
}

/* .form-row {
    display: inline-block;
} */

/* button {
    background-color: rgb(165, 69, 69);
    border-color: rgb(165, 69, 69);
    width: 100px;
    height: 30px;
    box-shadow: 6px 6px 14px rgba(50, 50, 50, 0.25);
    border-radius: 6px;
    margin-bottom: 10px;
} */
/* .info-text {
    margin-left: 10px;
} */

.btn {
    padding: 15px 30px;
    background: #111;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
}

.btn:hover {
    opacity: .8;
}

a {
    text-decoration: none;
}

.link {
    color: rgb(65, 65, 65);
    padding-left: 10px;
}

a:active {
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.lists {
    margin: 0;
    /* padding-left: 10px; */
    padding: 0 20px;
    /* list-style: none;
    list-style-type: none; */
    /* font-weight: bold; */
    color: #656565;
}

.lists li {
    color: #86898f;
    margin-bottom: 5px;
}

.box,
.box-2 {
    background: #f4f4f4;
    display: inline-block;
    box-sizing: border-box;
}

.box {
    width: 33%;
}

.box-2 {
    width: 66%;
    vertical-align: top;
}

@media (max-width: 766px) {
    .box-2, .box{
        text-align: center;
        display: block;
        width: 100%;
    }
}
@media (max-width: 766px){
    .col-1, .col-2{
        width: 100%;
    }
}